@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  padding: 0.25em 0;
}
.display-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#name {
  width: 20rem;
  height: 1.5rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid #f76c6c;
  margin-bottom: 2rem;
}

.button-submit {
  border: 1px solid #f76c6c;
  background-color: #f76c6c;
  color: white;
  width: 15rem;
  height: 2rem;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.button-submit:hover {
  border: 1px solid #f99a9a;
  background-color: #f99a9a;
}
footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}
.notif {
  background-color: rgb(84, 228, 84);
  color: white;
  height: 2rem;
  width: 20rem;
  border: 1px solid rgb(84, 228, 84);
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
